/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================
   Table of Contents
   ==========================

# Elements
# Header
# Nav
# Home
# Blog-home
# Blog-page
# Contact-section
# Content-Section
# Donate
# Footer


/* ==========================
   Elements
   ========================== */
a{
    text-decoration: none;
}
.body{
    background: white;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    max-width:100%;
}

form {
    text-align: left;
    flex-flow: row wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-size: 55px;
    font-weight: bold;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
    margin: 0 1%;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 12pt;
}



ul {
    margin: 0;
    text-align: right;
    padding: 30px 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* ==========================
   Header/Nav
   ========================== */
header h1 {
    margin: 269px 0 -70px 0;
    font-size: 70px;
    line-height: 62px;
}

header h2{
    margin: 60px 0 24px 0;
    font-size: 40px;
}

header h5{
    font-size: 20px;
    margin: 0 0 46px 1080px;
}

nav a{
    color: white;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 83.33333%;
    max-width: 1280px;
    margin: -60px auto;
}

.logo {
  padding-top: 40px;
}

.main-hero{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Airmen_celebrate_Black_History_Month_through_spoken_word_140211-F-VU439-061.jpg/1280px-Airmen_celebrate_Black_History_Month_through_spoken_word_140211-F-VU439-061.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px -131px;
    background-color: rgb(11, 66, 211);
    background-blend-mode: darken;
    width: 100%;
    height: 500px;
    color: white;
    padding: 0 15px 30px 40px;
}
.main-title{
    width: 611px;
    margin-bottom: 37px;
}

#boxed-link {
    border: 1px solid white;
    padding: 3px 13px;
}
/* ==========================
   About Section
   ========================== */
.aboutteen{
    margin: 85px 0 0 -252px;
}
.images {
    overflow: hidden;
    width: 30%;
    height: 500px;
}

.side{
    width: 27%;
    margin-left: -430px;
}

.aboutteen img{
    width: 200%;
    height: auto;
    margin-left: -435px;
}

/* ==========================
   Feature Section
   ========================== */
.sectiontitle {
    margin: 30px 0 30px 21px;
}
.news{
    width: 30%;
}

}
.facebook {
    width: 27%;
}





/* ==========================
  Footer
   ========================== */
    footer  {
        color: black;
    }








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
